.layout-default {
  padding: 40px;
  width: 100%;
  height: 100vh;

  .layout-outer-container {
    border: 1px solid $hdx-pink;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  .layout-inner-container {
    border: 1px solid $hdx-pink;
    width: 100%;
    height: 100%;
  }
}