.layout-default {
  padding: 12px;
  width: 100vw;
  height: 100vh;

  .layout-outer-container {
    border: 2px solid $hdx-pink;
    padding: 5px;
    width: 100%;
    height: 100%;
  }
  .layout-inner-container {
    border: 2px solid $hdx-pink;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .layout-bgr-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('~@/assets/images/snakes-bg.png');
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.hdx-page-panel-layout {
  background-color: $hdx-blue;
  box-shadow: 0.5em 0.5em rgba($hdx-bgr-blue, 0.9);
  padding: 10px;
  flex: 1;
  margin: 25px;
}