.main-header {
  h1 {
    margin: 0.5em 0 0 0;
  }

  .headerInfo {
    width: 100%;
    height: 2.8em;
  }

  .headerInfo div {
    vertical-align: middle;
    padding: 0 1em;
    margin: 0;
    display: inline-block;
  }

  .logo {
    height: 90%;
    width: 3em;
    position: relative;
    left: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/logo-anim.gif');
  }

  .accountInfo {
    margin-right: 0;
  }

  @media only screen and (max-width: 600px) {
    .headerInfo {
      height: auto;
      display: flex;
      flex-basis: 100%;
    }

    .headerInfo div {
      height: auto;
    }
  }
}
