.hdx-link-with-status,
.hdx-button-with-status {
  display: inline-block;
  color: rgba($hdx-light-blue, 0.7);
  font-size: 18px;
  line-height: 1.2;
  padding: 6px 15px 3px 15px;
  border-style: inset;
  border-color: $hdx-light-blue;
  border-top-color: $hdx-blue;
  border-left-color: $hdx-blue;
  border-width: 3px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: $hdx-pink;
    border-style: outset;
    text-transform: uppercase;
    border-color: $hdx-light-blue;
    border-bottom-color: $hdx-blue;
    border-right-color: $hdx-blue;
  }

  &.active {
    color: $hdx-pink;
    border-style: outset;
    border-color: $hdx-light-blue;
    border-bottom-color: $hdx-blue;
    border-right-color: $hdx-blue;
  }
}

.hdx-button-with-status {
  padding: 7px 30px;
}