.hdx-common-loader-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 100;
  @include crt-effect();

  .hdx-common-loader {
    animation: spin 1s linear infinite;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px;
    transform: scale(0.7);
  }

  @keyframes spin {
    0% {
      box-shadow:
              0px -30px $hdx-light-blue,
              10px -30px $hdx-light-blue,
              20px -20px $hdx-light-blue,
              30px -10px $hdx-light-blue,
              30px 0px $hdx-light-blue,
              30px 10px $hdx-light-blue,
              20px 20px $hdx-light-blue,
              10px 30px $hdx-light-blue,
              0px 30px transparent,
              -10px 30px transparent,
              -20px 20px transparent,
              -30px 10px transparent,
              -30px 0px transparent,
              -30px -10px transparent,
              -20px -20px transparent,
              -10px -30px transparent;
    }
    6.25% {
      box-shadow:
              0px -30px transparent,
              10px -30px $hdx-light-blue,
              20px -20px $hdx-light-blue,
              30px -10px $hdx-light-blue,
              30px 0px $hdx-light-blue,
              30px 10px $hdx-light-blue,
              20px 20px $hdx-light-blue,
              10px 30px $hdx-light-blue,
              0px 30px $hdx-light-blue,
              -10px 30px transparent,
              -20px 20px transparent,
              -30px 10px transparent,
              -30px 0px transparent,
              -30px -10px transparent,
              -20px -20px transparent,
              -10px -30px transparent;
    }
    12.5% {
      box-shadow:
              0px -30px transparent,
              10px -30px transparent,
              20px -20px $hdx-light-blue,
              30px -10px $hdx-light-blue,
              30px 0px $hdx-light-blue,
              30px 10px $hdx-light-blue,
              20px 20px $hdx-light-blue,
              10px 30px $hdx-light-blue,
              0px 30px $hdx-light-blue,
              -10px 30px $hdx-light-blue,
              -20px 20px transparent,
              -30px 10px transparent,
              -30px 0px transparent,
              -30px -10px transparent,
              -20px -20px transparent,
              -10px -30px transparent;
    }
    18.75% {
      box-shadow:
              0px -30px transparent,
              10px -30px transparent,
              20px -20px transparent,
              30px -10px $hdx-light-blue,
              30px 0px $hdx-light-blue,
              30px 10px $hdx-light-blue,
              20px 20px $hdx-light-blue,
              10px 30px $hdx-light-blue,
              0px 30px $hdx-light-blue,
              -10px 30px $hdx-light-blue,
              -20px 20px $hdx-light-blue,
              -30px 10px transparent,
              -30px 0px transparent,
              -30px -10px transparent,
              -20px -20px transparent,
              -10px -30px transparent;
    }
    25% {
      box-shadow:
              0px -30px transparent,
              10px -30px transparent,
              20px -20px transparent,
              30px -10px transparent,
              30px 0px $hdx-light-blue,
              30px 10px $hdx-light-blue,
              20px 20px $hdx-light-blue,
              10px 30px $hdx-light-blue,
              0px 30px $hdx-light-blue,
              -10px 30px $hdx-light-blue,
              -20px 20px $hdx-light-blue,
              -30px 10px $hdx-light-blue,
              -30px 0px transparent,
              -30px -10px transparent,
              -20px -20px transparent,
              -10px -30px transparent;
    }
    31.25% {
      box-shadow:
              0px -30px transparent,
              10px -30px transparent,
              20px -20px transparent,
              30px -10px transparent,
              30px 0px transparent,
              30px 10px $hdx-light-blue,
              20px 20px $hdx-light-blue,
              10px 30px $hdx-light-blue,
              0px 30px $hdx-light-blue,
              -10px 30px $hdx-light-blue,
              -20px 20px $hdx-light-blue,
              -30px 10px $hdx-light-blue,
              -30px 0px $hdx-light-blue,
              -30px -10px transparent,
              -20px -20px transparent,
              -10px -30px transparent;
    }
    37.5% {
      box-shadow:
              0px -30px transparent,
              10px -30px transparent,
              20px -20px transparent,
              30px -10px transparent,
              30px 0px transparent,
              30px 10px transparent,
              20px 20px $hdx-light-blue,
              10px 30px $hdx-light-blue,
              0px 30px $hdx-light-blue,
              -10px 30px $hdx-light-blue,
              -20px 20px $hdx-light-blue,
              -30px 10px $hdx-light-blue,
              -30px 0px $hdx-light-blue,
              -30px -10px $hdx-light-blue,
              -20px -20px transparent,
              -10px -30px transparent;
    }
    43.75% {
      box-shadow:
              0px -30px transparent,
              10px -30px transparent,
              20px -20px transparent,
              30px -10px transparent,
              30px 0px transparent,
              30px 10px transparent,
              20px 20px transparent,
              10px 30px $hdx-light-blue,
              0px 30px $hdx-light-blue,
              -10px 30px $hdx-light-blue,
              -20px 20px $hdx-light-blue,
              -30px 10px $hdx-light-blue,
              -30px 0px $hdx-light-blue,
              -30px -10px $hdx-light-blue,
              -20px -20px $hdx-light-blue,
              -10px -30px transparent;
    }
    50% {
      box-shadow:
              0px -30px transparent,
              10px -30px transparent,
              20px -20px transparent,
              30px -10px transparent,
              30px 0px transparent,
              30px 10px transparent,
              20px 20px transparent,
              10px 30px transparent,
              0px 30px $hdx-light-blue,
              -10px 30px $hdx-light-blue,
              -20px 20px $hdx-light-blue,
              -30px 10px $hdx-light-blue,
              -30px 0px $hdx-light-blue,
              -30px -10px $hdx-light-blue,
              -20px -20px $hdx-light-blue,
              -10px -30px $hdx-light-blue;
    }
    56.25% {
      box-shadow:
              0px -30px $hdx-light-blue,
              10px -30px transparent,
              20px -20px transparent,
              30px -10px transparent,
              30px 0px transparent,
              30px 10px transparent,
              20px 20px transparent,
              10px 30px transparent,
              0px 30px transparent,
              -10px 30px $hdx-light-blue,
              -20px 20px $hdx-light-blue,
              -30px 10px $hdx-light-blue,
              -30px 0px $hdx-light-blue,
              -30px -10px $hdx-light-blue,
              -20px -20px $hdx-light-blue,
              -10px -30px $hdx-light-blue;
    }
    62.5% {
      box-shadow:
              0px -30px $hdx-light-blue,
              10px -30px $hdx-light-blue,
              20px -20px transparent,
              30px -10px transparent,
              30px 0px transparent,
              30px 10px transparent,
              20px 20px transparent,
              10px 30px transparent,
              0px 30px transparent,
              -10px 30px transparent,
              -20px 20px $hdx-light-blue,
              -30px 10px $hdx-light-blue,
              -30px 0px $hdx-light-blue,
              -30px -10px $hdx-light-blue,
              -20px -20px $hdx-light-blue,
              -10px -30px $hdx-light-blue;
    }
    68.75% {
      box-shadow:
              0px -30px $hdx-light-blue,
              10px -30px $hdx-light-blue,
              20px -20px $hdx-light-blue,
              30px -10px transparent,
              30px 0px transparent,
              30px 10px transparent,
              20px 20px transparent,
              10px 30px transparent,
              0px 30px transparent,
              -10px 30px transparent,
              -20px 20px transparent,
              -30px 10px $hdx-light-blue,
              -30px 0px $hdx-light-blue,
              -30px -10px $hdx-light-blue,
              -20px -20px $hdx-light-blue,
              -10px -30px $hdx-light-blue;
    }
    75% {
      box-shadow:
              0px -30px $hdx-light-blue,
              10px -30px $hdx-light-blue,
              20px -20px $hdx-light-blue,
              30px -10px $hdx-light-blue,
              30px 0px transparent,
              30px 10px transparent,
              20px 20px transparent,
              10px 30px transparent,
              0px 30px transparent,
              -10px 30px transparent,
              -20px 20px transparent,
              -30px 10px transparent,
              -30px 0px $hdx-light-blue,
              -30px -10px $hdx-light-blue,
              -20px -20px $hdx-light-blue,
              -10px -30px $hdx-light-blue;
    }
    81.25% {
      box-shadow:
              0px -30px $hdx-light-blue,
              10px -30px $hdx-light-blue,
              20px -20px $hdx-light-blue,
              30px -10px $hdx-light-blue,
              30px 0px $hdx-light-blue,
              30px 10px transparent,
              20px 20px transparent,
              10px 30px transparent,
              0px 30px transparent,
              -10px 30px transparent,
              -20px 20px transparent,
              -30px 10px transparent,
              -30px 0px transparent,
              -30px -10px $hdx-light-blue,
              -20px -20px $hdx-light-blue,
              -10px -30px $hdx-light-blue;
    }
    87.5% {
      box-shadow:
              0px -30px $hdx-light-blue,
              10px -30px $hdx-light-blue,
              20px -20px $hdx-light-blue,
              30px -10px $hdx-light-blue,
              30px 0px $hdx-light-blue,
              30px 10px $hdx-light-blue,
              20px 20px transparent,
              10px 30px transparent,
              0px 30px transparent,
              -10px 30px transparent,
              -20px 20px transparent,
              -30px 10px transparent,
              -30px 0px transparent,
              -30px -10px transparent,
              -20px -20px $hdx-light-blue,
              -10px -30px $hdx-light-blue;
    }
    93.75% {
      box-shadow:
              0px -30px $hdx-light-blue,
              10px -30px $hdx-light-blue,
              20px -20px $hdx-light-blue,
              30px -10px $hdx-light-blue,
              30px 0px $hdx-light-blue,
              30px 10px $hdx-light-blue,
              20px 20px $hdx-light-blue,
              10px 30px transparent,
              0px 30px transparent,
              -10px 30px transparent,
              -20px 20px transparent,
              -30px 10px transparent,
              -30px 0px transparent,
              -30px -10px transparent,
              -20px -20px transparent,
              -10px -30px $hdx-light-blue;
    }
    100% {
      box-shadow:
              0px -30px $hdx-light-blue,
              10px -30px $hdx-light-blue,
              20px -20px $hdx-light-blue,
              30px -10px $hdx-light-blue,
              30px 0px $hdx-light-blue,
              30px 10px $hdx-light-blue,
              20px 20px $hdx-light-blue,
              10px 30px $hdx-light-blue,
              0px 30px transparent,
              -10px 30px transparent,
              -20px 20px transparent,
              -30px 10px transparent,
              -30px 0px transparent,
              -30px -10px transparent,
              -20px -20px transparent,
              -10px -30px transparent;
    }
  }

}