.trade-slippage-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .trade-slippage-item {
    font-weight: 500;
    line-height: 1;
    padding: 0.2em 0.5em;
    border: 1px solid $hdx-light-blue;
    color: $hdx-light-blue;
    cursor: pointer;
    margin-right: 0.5em;
    min-width: 60px;

    &.selected {
      background-color: $hdx-light-blue;
      color: $hdx-blue;
    }
  }
}