.hdx-trades-panel-container {
  //.empty-list-notice {
  //  height: 100%;
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  font-size: 18px;
  //  text-transform: uppercase;
  //  font-weight: 600;
  //}

  .transactions-list-container {
    padding: 0.5em;
  }

  .transaction-record-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    //border: 1px solid $hdx-light-blue;

    .record-short-info {
      text-align: left;
      padding: 0.5em;
      cursor: pointer;
      background-color: $hdx-light-blue;
      color: $hdx-blue;
      font-weight: 500;
    }

    .record-detailed-info {
      border: 1px solid $hdx-light-blue;
      padding: 1em;
      display: flex;
      flex-direction: column;

      .details-row {
        display: flex;
        flex-direction: row;
      }

      .details-col {
        display: flex;
        flex: 1;
        flex-direction: column;

        &.left {
          justify-content: flex-start;
          text-align: left;
        }
        &.right {
          justify-content: flex-end;
          text-align: right;
        }
      }
      .details-item {
        margin-bottom: 0.5em;
        .title {
          font-size: 13px;
        }
        .value {
        }
      }
    }

    .error-details {
      background-color: $hdx-red;
      font-size: 14px;
      padding: 0.4rem;
      line-height: 1.3;
      color: #fff;
    }

    &.tx-failed {
      .record-short-info {
        background-color: $hdx-red;
        color: #fff;
      }
      .record-detailed-info {
        border-color: $hdx-red;
      }
    }
  }
}

.hdx-trade-controls-panel-container {
  .trade-type-controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;

    .trade-action-type {
      margin-right: 10px;
      width: 130px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .spot-price-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .no-pools-notice {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
