.hdx-trades-panel-container {
  //.empty-list-notice {
  //  height: 100%;
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  font-size: 18px;
  //  text-transform: uppercase;
  //  font-weight: 600;
  //}
}

.hdx-trade-controls-panel-container {
  .trade-type-controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;

    .trade-action-type {
      margin-right: 10px;
      width: 130px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .spot-price-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .no-pools-notice {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
